* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}


/*------------------ inicio ------------*/
body {
    font-family: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
    background: #d9d9d9;
    color: #4a4237;
    line-height: 1.6;
    overflow-x: hidden;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

/*------------------ Navegación ------------*/
nav {
    position: fixed;
    width: 100%;
    background:#14213D;
    z-index: 1000;
    padding: 1rem 0;
    border-bottom: 1px solid;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
}

nav a {
    color: #e2ded7;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    
}


/* -----------------Encabezado -----------------------*/
header {
    background: #E5E5E5;
    padding: 120px 0 80px;
    text-align: center;
    position: relative;
}

.encabezado {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding:  20px;
}

.escudo-orjuela {
    width: 150%;
    height: 150px;
    object-fit: contain;
}
.escudo-rosario {
    width: 150%;
    height: 150px;
    object-fit: contain;
}

.titulo-contenedor {
    flex: 1;
    text-align: center;
}

h1 {
    font-size: 4.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #121212;
    position: relative;
    z-index: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
}

.subtitulo {
    font-size: 2rem;
    color: #484039;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    font-weight: 500;
}

.autor {
    display: block;
    margin: 0.3rem 0;
    color: #645d57;
    font-size: 1.8rem;
    z-index: 1;
    position: relative;
}

.institucion {
    margin-top: 1.5rem;
    color: #58514b;
    font-style: italic;
}

/* -------------Secciones-------------- */
.seccion1 {
    padding: 80px 0;
    border-bottom: 1px solid #c9b8a8;
}

.seccion2 {
    background: #e8ddd0;
}

.seccion3{
    background: #d4c5b9;
}

/* -------------letras------------- */
h2 {
    font-size: 3.4rem;
    margin-bottom: 2rem;
    color: #cd771a;
    font-weight: 600;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
}

h3 {
    font-size: 2.8rem;
    margin: 2rem 0 1rem;
    color: #586d7e;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
}

.judicial {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.niños {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.etica {
    width: 150px;
    height: 150px;
    object-fit: contain;
}
.contenido-doble {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    margin-top: 3rem;
    font-size: 1.2rem;
}

.tarjeta {
    background:#EDEDE9;
    border-radius: 8px;
    padding: 2rem;
    border: 1px solid #d4c5b9;
    position: relative;
    overflow: hidden;
}

.tarjeta h4 {
    color: #60463e;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans', sans-serif;
}

.lista-objetivos {
    list-style: none;
    padding-left: 0;
}

.lista-objetivos li {
    margin: 1rem 0;
    padding-left: 2rem;
    position: relative;
    font-size: 2;
}



/*------------- Actividades-------- */
.actividades-actividad{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.tarjeta-actividad {
    background: #e3e2e1;
    border-radius: 12px;
    padding: 2rem;
    border: 1px solid #d4c5b9;
    font-size: 1.4rem;
   
}

.numero-actividad {
    display: inline-block;
    background: #b09682;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}


.imagen1{
     width: 850px;
    height: 260px;
    object-fit: contain;
}



.imagen2{
     width: 850px;
    height: 260px;
    object-fit: contain;

}

 
.imagen3{
     width: 850px;
    height: 260px;
    object-fit: contain;
}




/* ----------afradecimientos--------- */

.ultimo {
    max-width: 800px;
    margin: 0 auto;
}

.agradecimiento {
    font-style: italic;
    color: #5d4d3f;
    margin-bottom: 2rem;
    padding: 2rem;
    background: #a7a6aa;
    border-radius: 8px;
    border-left: 4px solid #b09682;
}